.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.pane-header {
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.number-column {
    -fx-alignment: CENTER-RIGHT;
}

#id-column {
    -fx-alignment: CENTER-RIGHT;
    -fx-pref-width: 50;
}